# Conditionals & Control Flow

### Equality
The most basic form of comparison is equality. <br> Let's briefly recap its syntax. The following statements all evaluate to TRUE.
```
3 == (2 + 1)
"intermediate" != "r"
TRUE != FALSE
"Rchitect" != "rchitect"
```
Notice from the last expression that R is case sensitive: "R" is not equal to "r".

In [2]:
# Comparison of logicals
TRUE==FALSE

# Comparison of numerics
-6*14!=17-101

# Comparison of character strings
"useR"=="user"

# Compare a logical with a numeric
TRUE==1

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

### Greater and less than
Apart from equality operators, R has the less than and greater than operators: < and >. You can also add an equal sign to express less than or equal to or greater than or equal to, respectively. <br>Have a look at the following R expressions, that all evaluate to FALSE:
```
(1 + 2) > 4
"dog" < "Cats"
TRUE <= FALSE```
Remember that for string comparison, R determines the greater than relationship based on alphabetical order. Also, keep in mind that TRUE is treated as 1 for arithmetic, and FALSE is treated as 0. Therefore, FALSE < TRUE is TRUE.

In [4]:
# Comparison of numerics
-6*5+2>=-10+1

# Comparison of character strings
"raining"<="raining dogs"

# Comparison of logicals
TRUE>FALSE

[1] FALSE

[1] TRUE

[1] TRUE

In [6]:
# Comparing Vectors
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

linkedin>15

linkedin<=5

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE

In [7]:
# Comparing Matrices
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?
views == 13

# When is views less than or equal to 14?
views <= 14

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

     [,1]  [,2] [,3] [,4]  [,5] [,6]  [,7]
[1,] FALSE TRUE TRUE  TRUE TRUE FALSE TRUE
[2,] FALSE TRUE TRUE FALSE TRUE  TRUE TRUE

### & and |
All of them will evaluate to TRUE:
```
TRUE & TRUE
FALSE | TRUE
5 <= 5 & 2 < 3
3 < 4 | 7 < 6```
Watch out: 3 < x < 7 to check if x is between 3 and 7 will not work; you'll need 3 < x & x < 7 for that.

### !
The following all evaluate to FALSE:
```
!TRUE
!(5 > 3)
!!FALSE```

In [11]:
x <- 5
y <- 7
!(!(x < 4) & !!!(y > 12))

[1] FALSE

### The if statement
```
if (condition) {
  expr
}```

In [12]:
medium <- "LinkedIn"
num_views <- 14

if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
}

if (num_views > 15) {
  print("You're popular!")
}

[1] "Showing LinkedIn information"

### else & if else
```
if (condition1) {
  expr1
} else if (condition2) {
  expr2
} else if (condition3) {
  expr3
} else {
  expr4
}```

In [13]:
medium <- "LinkedIn"
num_views <- 14

# Control structure for medium
if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
} else if (medium == "Facebook") {
  print("Showing Facebook information")
} else {
  print("Unknown medium")
}

# Control structure for num_views
if (num_views > 15) {
  print("You're popular!")
} else if (num_views <= 15 & num_views > 10) {
print("Your number of views is average")
} else {
  print("Try to be more visible!")
}

[1] "Showing LinkedIn information"
[1] "Your number of views is average"